
h1 {
  color: black;
  font-size: 16px;
  }
  h2
  {
    color: black;
    font-size: 24px;
  }
  a {
    font-size:18px;
    word-spacing:none;
  }
  legend{
    font-size: 40px;
  }
ul, a{
  margin-left: 20px;
 text-decoration: 10px;
 color: rgb(29, 0, 249);
 text
 
}
.bg{z
  background-color: red;
}
